<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:lift="http://liftweb.net/" xmlns="http://www.w3.org/1999/xhtml"><head>
		<meta content="text/html; charset=UTF-8" http-equiv="content-type" />	
		<title>rails</title>
	<script type="text/javascript" src="/ajax_request/liftAjax.js"></script></head>
	<body>
		
		<%= yield %>

	<script type="text/javascript">
// <![CDATA[
jQuery(document).ready(function() {lift_successRegisterGC();});
var lift_page = 'F84211481972551R';
// ]]>
</script></body>
</html>  